
.container {
    position: relative;
    background-color: black;
    padding-top: 40px; 
    padding-right: 1rem; 
  }
  
 
  .content {
    max-width: 64rem; 
    margin: 0 auto; 
    padding: 1.5rem; 
  }
  
  
  .title {
    font-size: 3rem; 
    font-family: "serif";
    text-align: center;
    margin-bottom: 1.5rem; 
    color: #FFA500; 
    font-style: italic; 
  }
  
 
  .paragraph {
    font-size: 1.125rem; 
    color: white;
    margin-bottom: 1rem;
    line-height: 1.75;
  }
  
  
  .highlight {
    font-family: "serif";
    color: #FF7F50;
    font-style: italic; 
  }
  
  
  .subtitle {
    font-size: 1.875rem; 
    font-family: "serif";
    margin-top: 2rem; 
    margin-bottom: 1rem; 
    color: #FFA500; 
    text-decoration: underline; 
  }
  
  
  .section {
    margin-bottom: 1.5rem; 
  }
  
 
  @media screen and (max-width: 640px) {
    
    .container {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    
    .title {
      font-size: 2rem; 
    }
  
    
    .subtitle {
      font-size: 1.5rem; 
    }
  
    
    .paragraph {
      font-size: 1rem; 
    }
  }
  
 
  @media screen and (min-width: 768px) {
    
    .container {
      padding-left: 2rem; 
      padding-right: 2rem;
    }
  
    
    .title {
      font-size: 2.5rem; 
    }
  
    
    .subtitle {
      font-size: 1.75rem; 
    }
  
    
    .paragraph {
      font-size: 1.125rem; 
    }
  }
  
  
  @media screen and (min-width: 1024px) {
    
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    
    .title {
      font-size: 3rem; 
    }
  
    
    .subtitle {
      font-size: 1.875rem; 
    }
  
    
    .paragraph {
      font-size: 1.25rem; 
    }
  }
  